<!DOCTYPE html><html lang="zh"><head><meta charset="utf-8" />
<title>充值</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<script>
var docEl = document.documentElement;
docEl.style.fontSize = 100 / 375 * docEl.clientWidth  + 'px';
window.addEventListener('resize', function() {
  docEl.style.fontSize = 100 / 375 * docEl.clientWidth + 'px';
});
</script>
<link rel="stylesheet" href="/css/antui-all.css"/>
<link rel="stylesheet" href="/css/mobile/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layer/mobile/layer.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
{include file="common/header"/}
</head>
<body ontouchstart="" style="">

<div class="classreturnbox">
<div class="classreturn">
    <div class="ds-in-bl return"><a href="{:url('user/index')}"><img src="<?php echo http_host(); ?>/images/mobile/icon_return3.png" alt="返回"></a></div>
    <div class="ds-in-bl tit center"><span style="vertical-align:middle;">充值</span></div>
</div>
</div>

<div><img src="/images/mobile/kuaisuchongzhi.jpg" style="width:100%;height:auto;"></div>

<div style="padding:20px;font-size:16px;line-height:1.2;color:#333;background-color:#fff;">
<strong>快速充值：</strong><br>
1.支付宝或微信转到银行卡<br>
2.手机银行或网上银行转到银行卡<br>
3.每次充值之前，请联系<a style="color:#29a1f7;" href="<?php echo sysconfig('CMS_ONLINE_SERVICE_URL'); ?>">人工客服</a>索取最新入款账号<br>
4.单笔满5000返利1%<br>
注意：支付宝或微信只能对私转账，充值成功，（金额+返利1%）实时到账！</div>

</body></html>